main{
    padding-top: 100px;
}

#index-main {
    padding-bottom: 0px;
}

#admin-form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-inline: 70px;
    align-items: center;
    justify-content: center;
}

.result-wrapper {
    -webkit-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);  
}

#sb {
    position: relative;
    width: 100%;
}

#create-button {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    background-color: var(--main-accent);
    color: var(--white);
}

div[class^='result-top-'] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: var(--main-accent);
    color: var(--white);
    z-index: 1;
}

.result-info {
    display: flex;
    flex-direction: column;
}

.expand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

div[class^='result-bot-'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    justify-content: center;
    background-color: var(--sub-accent);
    color: white;
    transition: all 0.2s ease-in-out;
}

div[class^='result-bot-'] >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-button {
    width: 300px;
}

.form-bot {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs-box {
    display: flex;
    align-items: center;
}

.text-input:is(:not(:placeholder-shown), :focus)+label {
    color: var(--white);
}

#result-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 70px;
}

#admin-board-wrapper {
    padding-block: 100px;

}

#admin-board {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.admin-topic {
    width: 200px;
    height: 150px;
    background-color: var(--main-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-size: cover;
    position: relative;
    z-index: 0;
    transition: all 0.2s ease-in-out;
}

#users-topic, #products-topic, #artists-topic, #orders-topic, #reviews-topic {
    color: var(--white);
}

.admin-topic-darken {
    position: absolute;
    opacity: 0.5;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.admin-topic:hover {
    scale: 1.1;
}

.admin-topic:hover > .admin-topic-darken {
    opacity: 0.3;
}

#welcome-dashboard {
    padding-inline: 70px;
}

.result-top-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.result-img {
    width: 150px;
    height: 150px;
}

#admin-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    gap: 20px;
}

#flash-topics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 70px;
    padding-block: 40px;
    justify-content: center;
    justify-items: center;
    height: 100%;
    gap: 20px;
}

.invis-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;;
    width: 100%;
    padding: 0;
    padding: 10px;
    font-size: medium;
	outline: inherit;
    word-wrap: break-word;
    color: inherit;
    background-color: var(--sub-accent);
}

.flash-item {
    display: flex;
    width: 100%;
}

.flash-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--main-accent);
    padding: 20px;
    color: var(--white);
    width: 500px;
    min-width: 250px;
}

.flash-card > p {
    font-size: large;
}

.invis-button > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

#sales-form-group {
    border: none;
    background-color: var(--main-accent);
    font-size: large;
}


@media (max-width: 768px) {
 
    div[class^='result-top-'] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 20px;
        background-color: var(--main-accent);
        color: var(--white);
        z-index: 1;
    }

    #sales-form-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}