.flickity-slider > *:not(.is-selected) {
    opacity: 0%;
    transition: opacity 0.4s ease-in-out;
}

.flickity-slider > *:has(.is-selected) {
    opacity: 100%;
}

#carousel-promos .flickity-slider > * {
    opacity: 100%;
}

[id^="carousel-"] {
    width: 52%;
}

#carousel-promos {
    width: 100%;
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div[id^="static-carousel-"] {
    display: flex;
    flex-direction: row;;
}

.flickity-button {
    display: none;
}

@media (max-width: 768px) {
    .flickity-page-dots {
        display: none;
    }

    .flickity-button {
        display: block;
    }

}