main {
    padding-bottom: 0px;
}

#content-wrapper {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 0px;
}

#filters {
    display: flex;
    flex-direction: column;
    background-color: var(--sub-accent);
    padding: 25px;
    width: 100%;
    color: var(--light-text);
    -webkit-box-shadow: -10px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: -10px 0px 50px 0px rgba(0,0,0,0.75);
}

#results {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: fit-content;
}


#collapsible {
    display: none;
}

@media (max-width: 768px) {
    #collapsible {
        background-color: var(--sub-accent);
        display: flex;
        width: 100%;
        align-self: center;
        color: var(--white);
        padding: 8px;
        border: none;
        transition: all 0.2s ease-in-out;
        cursor: default;
        align-items: center;
        font-size: medium;
        gap: 5px;
      
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
    }

    #filters {
        max-height: 0;
        padding: 0px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
    }
}

#filters-form {
    width: 100%;
}

#filters-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#ord-filter {
    display: block;
    width: 100%;
    border: none;
    background-color: var(--sub-dark-accent);
    color: var(--light-text);
    padding: 5px;
    font-size:medium;
}

.scroll-filter {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: scroll;
    background:
        /* Shadow covers */
        linear-gradient(var(--sub-accent) 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), var(--sub-accent) 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(var(--sub-accent) 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), var(--sub-accent) 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: var(--sub-accent);
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.box-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding-top: 25px;
}

.box-filter label {
    position: absolute;
}

label[for="min-rating"] {
    top: 0;
    left: 35px;
}

label[for="min-price"] {
    top: 0;
    left: 40px;
}

label[for="max-rating"]{
    top: 0;
    right: 35px;
}

label[for="max-price"] {
    top: 0;
    right: 40px;
}

#min-price, #max-price,
#min-rating, #max-rating {
    width: 70px;
    border: none;
    background-color: var(--sub-dark-accent);
    color: var(--text-color);
    padding: 5px;
}

.scroll-filter input {
    display: none;
    position: relative;
}

.scroll-filter span {
    padding: 6px;
    display: block;
    width: 100%;
}

.genre-check, .year-check, .format-check {
    font-size: medium;
}

.checkbox:checked+span {
    background-color: var(--sub-dark-accent);
}

.filter-title {
    border-bottom: 1px solid var(--white);
    padding-bottom: 2px;
}