#payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 40%;
    margin-inline: 40px;
    margin-top: 20px;
    padding: 20px;
    height: 750px;
}

#items-wrapper {
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

#payment-info {
    border-left: 1px solid white;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#payment-method, #checkout-total,
#billing-info, #payment-description {
    display: flex;
    flex-direction: column
}

#payment-description {
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
}

.pay-desc-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment-method {
    justify-content: flex-end;
    margin-bottom: 10px;
}

#confirm-checkout {
    margin-inline: 10px;
    margin-top: 20px;
}

.register-button {
    padding: 10px;
    width: 100%;
    font-size: larger;
    margin-top: 20px;
    border: none;
    background-color: var(--border-color);
    color: var(--text-soft-color);
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.checkout-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.subtitle-container {
    padding: 0;
    font-size: medium;
    padding-bottom: 5px;
}

.subtitle-container > p {
    border-bottom: none;
}

.left-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.radio {
    margin: 0.5rem;
    position: absolute;
    left: -9999px;
}

.radio-label
{
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    line-height: 20px;
    display: inline-block;
}
.radio-label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: 100%;
    background: #FFFFFF;
}
.radio-label::after {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #116e04;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio:not(:checked) + .radio-label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio:checked + .radio-label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}