main {
    background-color: var(--background-dark);
}

.error-page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.error-image-container,
a.confirm-button {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    color: var(--light-text);
}

.error-image {
    width: 100%;
}

.error-header {
    text-align: center;
    color: var(--sub-accent);
    font-size: 500%;
}

.error-subheader {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    color: var(--light-text);
}
