#content-wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    padding-bottom: 0;
    gap: 0px;
}

#side-image {
    background-image: url("https://source.unsplash.com/random/1920×1080/?vinyl");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    #side-image {
        display: none;
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

#sign-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 300px;
    position: relative;
}

.text-input,
.select-input {
    border: none;
    border: 1px solid var(--border-color);
    font-size: large;
    padding: 10px;
    background-color: var(--main-accent);
    vertical-align: middle;
    color: var(--white);
}

.select-input {
    padding: 10px;
    border: none;
    -webkit-appearance: none;
    color: var(--light-text);
    background-color: var(--main-accent);
    font-size: large;
    width: 100%;
}

.input-label {
    font-size: large;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: all 0.2s ease-in-out;
    color: var(--white);
    pointer-events: none;
}

.static-label {
    font-size: large;
    width: fit-content;
}

#password-input {
    padding-right: 40px;
}

#password-cnt {
    position: absolute;
    right: 10px;
    top: 50px;
}

#password-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    color: var(--white);
}

.required-alert {
    opacity: 0%;
    color: red;
    transition: all 0.2s ease-in-out;
    padding-top: 3px;
}

.text-input:is(:not(:placeholder-shown), :focus) + label,
.select-input:valid + label {
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: medium;
    color: var(--black);
}

.confirm-button:disabled {
    background-color: var(--background-dark);
}

#form-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-text {
    padding-top: 10px;
    text-decoration: underline;
}

.inputs-box-admin {
    padding-top: 20px;
}

input[type="file"] {
    display: none;
}

.upload-button {
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--main-accent);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-items: center;
}

.upload-button:hover {
    background-color: var(--dark-accent);
}

.form-spacer {
    padding-top: 5px;
}