@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --forest-green-traditional: #185229;
  --british-racing-green: #123F20;
  --spanish-green: #288F49;
  --white: #fdfdff;
  --silver: #c6c5b9;
  --raisin-black: #2e282a;
  --cedar-chest: #e9785c;
  --chinese-red: #b4482d;

  --navy: rgb(28, 49, 94);
  --dark-navy: #0b1222;
  --teal: #227C70;
  --dark-teal: #154942;
  --sage: #88A47C;
  --beige: #E6E2C3;
  --old-gold: #CFB53B;
  --flax: #E0CF80;
  
  --main-accent: var(--navy);
  --sub-accent: var(--teal);
  --dark-accent: var(--dark-navy);
  --sub-dark-accent: var(--dark-teal);
  --light-accent: var(--sage);
  --light-contrast: var(--beige);
  
  --background-light: var(--white);
  --background-dark: var(--raisin-black);
  
  --light-text: var(--white);
  --dark-text: var(--raisin-black);

  --black: var(--raisin-black);

  --warning-green: green;
  --warning-yellow: rgb(110, 110, 9);
  --warning-red: red;

  --star: var(--old-gold);
  --star-inactive: var(--flax);
}

/* 
:root {
  --bg-color: rgba(255,255,255, 1);
  --text-color: rgba(150,104,84, 1);
  --text-soft-color: rgba(175,122,99, 1);
  --text-strong-color: rgba(113,77,62, 1);
  --subtle-color: rgba(254,248,246, 1);
  --border-color: rgba(247,195,175, 1);
  --shadow-color: rgba(244,175,147, 1);
  --input-color: rgba(255,255,255, 1);
  --outline-color: rgba(246,165,165, 1);
  --mark-color: rgba(156,100,100, 0.08);
  --special-color: rgba(156,100,100, 1);
  --special-bg-color: rgba(165,106,106, 1);
  --special-text-color: rgba(255,255,255, 1);
  --special-shadow-color: rgba(111,70,70, 1);
  --special-mark-color: rgba(255,255,255, 0.08);
  --light-color: rgba(255,240,240, 1);
  --dark-color: rgba(98,61,61, 1);
  --text-color-rgb: 150,104,84;
  --bg-color-rgb: 255,255,255;
  --subtle-color-rgb: 254,248,246;
  --special-color-rgb: 156,100,100;
  --special-text-color-rgb: 255,255,255;
  --special-bg-color-rgb: 165,106,106;
  --shadow-color-rgb: 244,175,147;
  --special-shadow-color-rgb: 111,70,70;
  --outline-color-rgb: 246,165,165;
  --dark-color-rgb: 98,61,61;
  --light-color-rgb: 255,240,240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(32,32,32, 1);
    --text-color: rgba(177,128,107, 1);
    --text-soft-color: rgba(156,112,94, 1);
    --text-soft-color: white;
    --text-strong-color: rgba(222,161,136, 1);
    --subtle-color: rgba(43,34,31, 1);
    --border-color: rgba(86,58,46, 1);
    --shadow-color: rgba(0,0,0, 1);
    --input-color: rgba(28,28,28, 1);
    --outline-color: rgba(228,131,131, 1);
    --mark-color: rgba(181,124,124, 0.08);
    --special-color: rgba(181,124,124, 1);
    --special-bg-color: rgba(130,88,88, 1);
    --special-text-color: rgba(230,221,221, 1);
    --special-shadow-color: rgba(44,25,25, 1);
    --special-mark-color: rgba(230,221,221, 0.08);
    --light-color: rgba(249,200,200, 1);
    --dark-color: rgba(74,45,45, 1);
    --text-color-rgb: 177,128,107;
    --bg-color-rgb: 32,32,32;
    --subtle-color-rgb: 43,34,31;
    --special-color-rgb: 181,124,124;
    --special-text-color-rgb: 230,221,221;
    --special-bg-color-rgb: 130,88,88;
    --shadow-color-rgb: 0,0,0;
    --special-shadow-color-rgb: 44,25,25;
    --outline-color-rgb: 228,131,131;
    --dark-color-rgb: 74,45,45;
    --light-color-rgb: 249,200,200;
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(255,255,255, 1);
    --text-color: rgba(113,77,62, 1);
    --text-soft-color: rgba(113,77,62, 1);
    --text-strong-color: rgba(113,77,62, 1);
    --subtle-color: rgba(254,248,246, 1);
    --border-color: rgba(180,125,102, 1);
    --shadow-color: rgba(203,142,116, 1);
    --input-color: rgba(255,255,255, 1);
    --outline-color: rgba(245,140,140, 1);
    --mark-color: rgba(117,74,74, 0.16);
    --special-color: rgba(117,74,74, 1);
    --special-bg-color: rgba(126,80,80, 1);
    --special-text-color: rgba(255,255,255, 1);
    --special-shadow-color: rgba(32,17,17, 1);
    --special-mark-color: rgba(255,255,255, 0.16);
    --light-color: rgba(255,240,240, 1);
    --dark-color: rgba(98,61,61, 1);
    --text-color-rgb: 113,77,62;
    --bg-color-rgb: 255,255,255;
    --subtle-color-rgb: 254,248,246;
    --special-color-rgb: 117,74,74;
    --special-text-color-rgb: 255,255,255;
    --special-bg-color-rgb: 126,80,80;
    --shadow-color-rgb: 203,142,116;
    --special-shadow-color-rgb: 32,17,17;
    --outline-color-rgb: 245,140,140;
    --dark-color-rgb: 98,61,61;
    --light-color-rgb: 255,240,240;
  }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
  :root {
    --bg-color: rgba(32,32,32, 1);
    --text-color: rgba(222,161,136, 1);
    --text-soft-color: rgba(222,161,136, 1);
    --text-strong-color: rgba(222,161,136, 1);
    --subtle-color: rgba(43,34,31, 1);
    --border-color: rgba(161,112,91, 1);
    --shadow-color: rgba(0,0,0, 1);
    --input-color: rgba(28,28,28, 1);
    --outline-color: rgba(228,126,126, 1);
    --mark-color: rgba(227,156,156, 0.16);
    --special-color: rgba(227,156,156, 1);
    --special-bg-color: rgba(105,70,71, 1);
    --special-text-color: rgba(243,238,238, 1);
    --special-shadow-color: rgba(0,0,0, 1);
    --special-mark-color: rgba(243,238,238, 0.16);
    --light-color: rgba(251,221,221, 1);
    --dark-color: rgba(74,45,45, 1);
    --text-color-rgb: 222,161,136;
    --bg-color-rgb: 32,32,32;
    --subtle-color-rgb: 43,34,31;
    --special-color-rgb: 227,156,156;
    --special-text-color-rgb: 243,238,238;
    --special-bg-color-rgb: 105,70,71;
    --shadow-color-rgb: 0,0,0;
    --special-shadow-color-rgb: 0,0,0;
    --outline-color-rgb: 228,126,126;
    --dark-color-rgb: 74,45,45;
    --light-color-rgb: 251,221,221;
  }
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  font-family: 'Raleway';
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  padding-block: 90px;
  padding-top: 60px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--background-light);
  margin: 0;
  padding: 0;
  color: var(--dark-text);
}

.navbar {
  background-color: var(--main-accent);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  z-index: 99999;
  color: var(--light-text);
  -webkit-box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.75);;
  -moz-box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.75);;
  box-shadow: 0px -5px 50px 0px rgba(0,0,0,0.75);;
}

.sub-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#logo {
  height: 32px;
  width: auto;
}

#site-name {
  font-size: larger;
  font-weight: bold;
}

#wide-top {
  background-color: var(--main-accent);
  height: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#icons, #hamburger {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  position:relative;
}

.nav-dropdowns {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 270px;
  height: auto;
  padding: 10px;
  background-color: var(--main-accent);
  padding-top: 20px;
  gap: 10px;
}

#profile-dropdown {
  gap: 0px;
  top: 25px;
  right: -80px;
}

#cart-dropdown {
  top: 25px;
  right: -80px;
}

#wishlist-dropdown {
  top: 25px;
  right: -80px;
}

#cart-wrapper, #wishlist-wrapper {
  height: 260px;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background:
  /* Shadow covers */
  linear-gradient(var(--main-accent) 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), var(--main-accent) 70%) 0 100%,
  
  /* Shadows */
  radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
  radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
background:
  /* Shadow covers */
  linear-gradient(var(--main-accent) 30%, rgba(255,255,255,0)),
  linear-gradient(rgba(255,255,255,0), var(--main-accent) 70%) 0 100%,
  
  /* Shadows */
  radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
background-repeat: no-repeat;
background-color: var(--main-accent);
background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

/* Opera doesn't support this in the shorthand */
background-attachment: local, local, scroll, scroll;

}

#cart-wrapper::-webkit-scrollbar, #wishlist-wrapper::-webkit-scrollbar { 
  display: none;
}

#cart-dropdown-purchase {
  all: unset;
  cursor: pointer;
  background-color: var(--background-dark);
  color: var(--light-text);
  padding: 4px;
  text-align: center;
}

#cart-dropdown-purchase:focus {
  outline: inherit;
}

div[class^='cart-item-'] {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.cart-remove {
  margin-left: auto;
  height: fit-content;
  cursor: pointer;
}

div[class^='wishlist-item'] {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
}

.wishlist-item-desc + a {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: auto;
}

.wishlist-item-specs {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.wishlist-item-specs p {
  text-align: right;
}

div[class^='cart-desc-'], div[class^='wishlist-item-desc'] {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.wishlist-item-specs, .cart-item-specs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cart-item-left, .cart-item-amnt {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  align-content: center;
}

.cart-item-left {
  padding-left: auto;
}

.cart-item-amnt a {
  background-color: var(--background-dark);
}

.dec-cart-item, .inc-cart-item {
  font-size: x-large;
}

#profile-icon:hover ~ #profile-dropdown,
#wishlist-icon:hover ~ #wishlist-dropdown,
#cart-icon:hover ~ #cart-dropdown{
  display: flex;
}

#profile-dropdown:hover,
#cart-dropdown:hover,
#wishlist-dropdown:hover {
  display: flex;  
}

#profile-dropdown > div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap:10px;
  align-items: center;
  align-content: center;
}

#wide-bot {
  background-color: var(--subtle-color);
  height: 30px;
  justify-content: center;
  gap: 40px;
}

.search-container {
  width: 100%;
  padding-inline: 10px;
}

.search-form {
  position: relative;
}

.searchbar {
  background-color: var(--dark-accent);
  width: 100%;
  border: 3px;
  border-color: var(--light-accent);
  color: var(--light-text);
  padding: 7px;
  padding-right: 37px;
}

.search-icon {
  all: unset;
  cursor: pointer;
  position: absolute;
  float: right;
  top: 4px;
  right: 10px;
}

.search-icon:focus {
  outline: inherit;
}

#navbar-mobile {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 20px;
  height: 50px;
}

.confirm-button {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: larger;
  margin-top: 20px;
  border: none;
  background-color: var(--main-accent);
  color: var(--light-text);
  transition: all 0.2s ease-in-out;
  cursor: default;
}

.confirm-button:hover {
  background-color: var(--light-accent);
  cursor: pointer;
}

.confirm-button:disabled {
  background-color: var(--dark-accent);
  cursor: default;
}

.confirm-button:disabled:hover {
  background-color: var(--dark-accent);
  pointer-events: none;
  cursor: default;
}

@media (max-width: 768px) {
  main {
    padding-block: 50px;
  }


  #navbar-wide {
    display: none;
  }

  #navbar-mobile {
    display: flex;
  }

  .search-container {
    padding-inline: 20px;
    padding-block: 10px;
  }

  /* #mobile-content {
    transform: translateY(-200%);
  } */
}

#mobile-content {
  color: var(--light-text);
  background-color: var(--main-accent);
  position: absolute;
  transform: translateY(-200%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  z-index: 20;
  padding-top: 60px;
  justify-content: space-between;
}

#mobile-content-screen {
  background-color: var(--main-accent);
  width: 100%;
  font-size: larger;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mobile-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-block: 20px;
}

#mobile-icons a {
  width: 100%;
  display: flex;
  align-content: center;
  gap: 10px;
  justify-content: center;
}

#mobile-nav-profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 10px;
  padding-top: 10px;
}

#mobile-nav-profile > a {
  width: fit-content;
}

#mobile-nav-profile-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#obscure-bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  opacity: 0%;
  background-color: black;
  pointer-events:all;
  z-index: 19;
  top: -200%;
}

#footer {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  background-color: var(--main-accent);
  color: var(--light-text);
  -webkit-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.50);
  -moz-box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.50);
  box-shadow: inset 0px 0px 10px -3px rgba(0,0,0,0.50);
}

#footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#footer-links, #footer-finds {
  padding-inline: 10px;
  margin-block: 10px;
}

#footer-socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
}

#footer-finds {
  border-left: 1px solid var(--light-accent);
}

#footer-locations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media (max-width: 768px) {
  #footer {
    grid-template-columns: 1fr;
  }

  #footer-finds {
    margin-inline: 20%;
    border-left: 0px;
    border-top: 1px solid var(--light-accent);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

.subtitle-container {
  padding-inline: 70px;
  padding-block: 10px;
}

.subtitle-container > p {
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid var(--dark-text);
  padding-bottom: 5px;
}

.dropdown-warning {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Same problem as in "a.confirm-button" from global.css. In this case it doesn't
matter because the color we would inherit would be from the navbar, which is
the one we want. Still, we want to be able to change things logically and
so I added extra specificity for now.*/

a.nav-button {
  text-align: center;
  background-color: var(--dark-accent);
  color: var(--light-text);
  width: 100%;
  padding: 4px;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  font-size: large;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  justify-items: center; 
}

.review {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block: 10px;
}

.review-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: start;

}

.review>article {
  padding-inline: 28px;
  margin-left: 50px;
  border-left: 1px solid var(--dark-text);
  margin-top: 5px;
  padding-top: 5px;
}

.reviewer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.reviewer-score {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-message {
  overflow-wrap: break-word;
  hyphens: manual;
}

.reviewer-pfp {
  width: 100px;
  height: 100px;
}

.reviewer-info {
  font-weight: bold;
  font-size: large;
}

