main {
    padding-top: 0px;
}

.navbar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.promocard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position-x: center;
    background-position-y: 90%;
    background-attachment: fixed;
    background-image: url("https://images.unsplash.com/photo-1582751836565-74f64cc184cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.promo-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    padding-bottom: 40px;
    padding-left: 30px;
    gap: 10px;
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);  */
    z-index: 1;
}

.promo-desc > p {
    margin: 0;
}

.promo-desc-text {
    font-size: x-large;
    font-weight: bold;
    color: white;
}

.promo-desc-subtext {
    font-weight: bold;
    color: white;
    padding-left: 10px;
}

#navbar-wide {
    background: linear-gradient(
        0deg,
        rgb(0, 0, 0, 0) 0%,
        rgb(0, 0, 0, 0) 50%,
        rgba(28, 49, 94, 0.5) 100%
    );
    transition: background 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#wide-top {
    background-color: transparent;
}

#background-cut {
    background-color: var(--main-accent);
    position: absolute;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
    height: 150px;
    width: 100vw;
    bottom: 0px;
    z-index: -3;
}

#background-cut-sub {
    background-color: rgba(28, 49, 94, 0.4);
    position: absolute;
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
    height: 150px;
    width: 100vw;
    bottom: 20px;
    z-index: -3;
}

.index-promo {
    margin-inline: 70px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    grid-row-gap: 40px;
}

.promo-section {
    text-align: center;
    text-justify: inter-word;
}

.section-heading {
    font-size: xx-large;
    border-color: var(--main-accent);
}

.section-heading + p {
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    max-width: 500px;
}

.section-image {
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    #wide-top {
        background-color: var(--main-accent);
    }
    .index-promo {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
    }
    .section-image {
        width: min(60%, 300px);
        height: auto;
    }
}
