.review-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.review-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.review-head {
    display: flex;
    flex-direction: column;
}

.review-name {
    font-size: larger;
    font-weight: bold;
}

.review-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
}

#review-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#review-edit-top {
    display: flex;
    flex-direction: column;
}

#delete-form-container {
    width:100%;
}

#review-edit-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

#edit-option, #delete-option {
    width: 100%;;
}
