/* user nav bar */ 
#nav-wrapper {
    padding-inline: 70px;
    padding-block: 10px;
    padding-top: 0px;
}

#user-nav-wide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#user-nav-wide > * {    
    background-color: var(--main-accent);
    color:var(--light-text);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
}

.nav-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1em;
    font-size: 18px;
}

.nav-tags section {
    padding-left: 1em;
    padding-right: 1em;
}

.nav-tags section:hover {
    background-color: var(--dark-accent);
    transition: 0.3s ease;
}

#settings-section, #settings-section > section {
    padding-inline: 50px;
    padding-block: 10px;
}

div[class^='user-top-'] {
    color: var(--light-text);
    background-color: var(--sub-accent);
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);

}

div[class^='user-top-']:hover {
    background-color: var(--sub-dark-accent);
    transition: 0.3s ease;
    
}

div[class^='user-bot-'] {
    padding-top: 10px;
    font-size: 14px;
}

#settings-section button {
    background-color: var(--light-accent);
}

#form-aux-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#aux-wrapper {
    display: grid;
    align-items:center;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    justify-content: center;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
