main {
    padding-top: 100px;
}

#about-us-main {
    padding-block: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us-introduction {
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: var(--sub-accent);
    color: var(--light-text);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 16px;
    margin-inline: 70px;
}

#about-us-introduction h1 {
    margin: 8px;
}

#team-wrapper {
    color: var(--dark-text);
    padding: 20px;
    text-align: center;
    background-color: var(--light-contrast);
    margin-inline: 70px;}

.member-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

#team-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-wrapper-col {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.team-card {
    color: var(--dark-text);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 20px
}

.team-info {
    padding: 0 16px;
}

@media screen and (max-width:750px) {
    .team-wrapper-col {
        width: 100%;
        display: block;
    }
}

/* FAQ */

#faq-wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 70px;
    align-items: center;
}

.faq-section-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div[id^="faq-section-top-"] {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--sub-accent);
    color: var(--light-text);
}

div[id^="faq-section-top-"]:hover {
    background-color: var(--light-accent);
    transition: 0.3s ease;
}

div[id^="faq-section-bot-"] {
    width: 100%;
    display:flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

div[id^="faq-drop-top"] {
    margin: 8px 0px; 
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--light-contrast);
    color: var(--dark-text);
}

div[id^="faq-drop-top"]:hover {
    background-color: var(--light-accent);
    transition: 0.3s ease;
}

div[id^="faq-drop-bot"] {
    margin-inline: 8px;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: left;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--light-contrast);
    color: var(--dark-text);
}

div[id^="faq-drop-bot"] a {
    display: contents;
    text-decoration: underline;
    width: auto;
    color: var(--sub-accent);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

}

#tickets-form-wrapper {
    padding-inline: 70px;
}

#tickets-form-wrapper #login-redirect {
    color: var(--sub-accent);
}

#form-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea {
    resize: none;
    width: 100%;
}

.textarea-container {
    width: 100%;
}

@media (max-width: 768px) {

    main {
        padding-top: 120px;
    }

}