main {
    gap: 0px;
}

#user-banner {
    width: 100vw;
    height: 300px;
    position: relative;
}

#user-pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.75);
}

#user-top {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    left: 70px;
}

#user-settings-icon {
    padding-bottom: 27px;
}

#user-name {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 30px;
}

#content-select {
    background-color: var(--main-accent);
    font-size: large;
    display: grid;
    grid-template-columns: 35% 1fr;
    justify-content: center;
    padding-block: 7px;
}

#content-select > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-column-start: 2;
}

#content-select > div a {
    color: var(--light-text);
}

#content-wrapper {
    padding-top: 20px;
}

#review-wrapper,
#wishlist-display-wrapper {
    padding-inline: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wishlist-display-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: bold;
}

.wishlist-display-img {
    width: 100px;
    height: 100px;
}

#fav-artists-wrapper {
    display: flex;
    flex-direction: row;
    padding-inline: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

#user-top > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    #user-top {
        flex-direction: column;
        justify-content: flex-end;
    }

    #user-top > div {
        width: 100%;
    }

    #content-wrapper {
        padding-top: 0px;
    }
}

.buy-history-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--light-accent);
    color: var(--white);
}

.buy-history-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.buy-history-desc {
    display: flex;
    flex-direction: column;
}

.buy-history-wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 70px;
    gap: 10px;
}
