main {
    gap: 0px;
}

#profile-header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url("https://picsum.photos/1920/1080?random=1");
    width: 100%;
    height: 40vh;
}

#profile-name {
    font-size: xx-large;
    position: absolute;
    font-weight: bold;
    color: var(--light-text);
    left: 370px;
    bottom: 10px;
}

#profile-pic {
    position: absolute;
    width: 250px;
    height: 400px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    top: 60px;
    left: 100px;
    z-index: 4;
}

#content-select {
    background-color: var(--main-accent);
    font-size: large;
    display: grid;
    grid-template-columns: 35% 1fr;
    justify-content: center;
    padding-block: 7px;
}

#content-select > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-column-start: 2;
}

#content-select > div a {
    color: var(--light-text);
}

#content-wrapper {
    padding-top: 80px;
}

#review-wrapper, #buy-history-wrapper {
    padding-inline: 100px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.buy-history-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: bold;
}

.buy-history-img {
    width: 100px;
    height: 100px;
}