main {
    padding-top: 100px;
}

.wishlist-img {
    width: 200px;
    height: 200px;
}

div[class^="wishlist-card-top-"] {
    display: flex;
    flex-direction: row;
    font-size: large;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--light-accent);
    color: var(--white);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.33);
}

.wishlist-card-desc {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.wishlist-card-desc a {
    font-weight: bolder;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.wishlist-card-desc > div:first-child {
    position: relative;
}

.wishlist-card-specs {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-evenly;
}

.wishlist-card-specs > div {
    display: flex;
    flex-direction: column;
}

.cut-price {
    font-size: small;
    text-decoration: line-through;
}

.discount-label {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 5px;
    z-index: 1;
    color: var(--white);
    background-color: var(--main-accent);
}

.favorite-container {
    display: flex;
    color: var(--sub-accent);
    align-items: center;
    scale: 1.2;
    transition: all 0.1s ease-in-out;
}

.favorite-container:hover {
    scale: 1.4;
    color: var(--sub-dark-accent);
}

#wl-wrapper {
    padding-inline: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 20px;
}

#empty-wishlist-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#empty-wishlist-wrapper > a {
    display: inline-block;
    width: 400px;
}

#empty-wishlist-text {
    text-align: center;
}

#empty-wishlist-text a {
    color: var(--sub-accent);
}

#empty-wishlist-icon {
    animation: beat 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    color: var(--main-accent);
    font-size: 2500%;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 120px;
    }

    .wishlist-card {
        font-size: medium;
        flex-direction: column;
        gap: 10px;
    }

    .favorite-container {
        justify-content: center;
    }

    #wishlist-wrapper {
        flex-direction: column;
    }

    div[class^="wishlist-card-top-"] {
        flex-basis: 1;
        flex-direction: column;
    }

    .wishlist-card-desc {
        flex-direction: column;
    }
}
