openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW EarWorm Web API'
 description: 'Web Resources Specification (A7) for MediaLibrary'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Products'
 - name: 'M03: Artists'
 - name: 'M04: Reviews'
 - name: 'M05: Wishlist'
 - name: 'M06: Orders'
 - name: 'M07: Cart'
 - name: 'M08: Reports and Tickets'
 - name: 'M09: User Administration and Static pages'

paths:

  # -------------- #
  # M01 - Authentication and Individual Profile #

  /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: VIS'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Login UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Process the login form submission. Access: VIS'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to user profile.'
                 value: '/user/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: CLI, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new user registration form. Access: VIS'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Process the new user registration form submission. Access: VIS'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /user/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

    get:
      operationId: R106
      summary: 'R106: View User Profile'
      description: 'Show a user profile page. Access: VIS, OWN, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show User Profile UI'

  /user/{id}/settings:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    
    get:
      operationId: R107
      summary: 'R107: Edit Profile Form'
      description: 'Provide edit profile form. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Edit Profile UI'
        '403':
          description: 'You do not have the required permissions to access this page.'

    post:
      operationId: R108
      summary: 'R108: Edit Profile Action'
      description: 'Process the edit profile form submission. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to user profile.'
                  value: '/user/{id}'
                302Error:
                  description: 'Failed edit. Redirect to user profile.'
                  value: '/user/{id}'               

  /user:
    get:
      operationId: 'R109'
      summary: 'R109: View Own Profile'
      description: 'Show individual user profile page. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show User Profile UI'

  # -------------- #
  # M02 - Products #
 
  /api/products:
    get:
      operationId: R201
      summary: 'R201: Search Products API'
      description: 'Search for products and return the results as JSON. Access: VIS, CLI, ADM'

      tags:
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: 'String to use for full-text search'
          schema:
            type: string
          required: false

        - in: query
          name: genre
          description: 'Genre of the product'
          schema:
            type: string
          required: false

        - in: query
          name: min_score
          description: 'Minimum score of the product'
          schema:
            type: float
          required: false
          
        - in: query
          name: max_score
          description: 'Maximum score of the product'
          schema:
            type: float
          required: false
        
        
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                products:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    artist_id:
                      type: integer
                    price:
                      type: float
                    stock:
                      type: integer
                    format:
                      type: string
                    genre:
                      type: string
                    year:
                      type: integer
                    description:
                      type: string
                    score:
                      type: float
                example:
                - id: 1
                  name: "GOAA (Greatest Of All Albums)"
                  artist_id: 109
                  price: 12.00
                  stock: 300
                  format: "Vinyl"
                  genre: "Pop"
                  year: "2020"
                  description: "The greatest album ever made!!"
                  score: 1.25
                - id: 2
                  name: "Mixtape no.1"
                  artist_id: 127
                  price: 5.00
                  stock: 20
                  format: "Cassette"
                  genre: "Rap"
                  year: "2021"
                  description: "I was bored and made some music."
                  score: 4.99

  /products/{id}:
    parameters:
      - in: path
        name: id
        description: Product ID
        schema:
          type: integer
        required: true
        
    get:
      operationId: R202
      summary: 'R202: View Product Page'
      description: "Show a specific product page, where all of its information is displayed. Access: VIS, CLI, ADM"

      tags:
        - 'M02: Products'

      responses:
        '200':
          description: 'Ok. Show Product Page UI'
        '404':
          description: 'This product does not exist in our store.'
        

  /products:
    get:
      operationId: R203
      summary: 'R203: View Catalogue'
      description: "Show a page with all of the available products."

      tags:
        - 'M02: Products'

      responses:
        '200':
          description: 'Ok. Show Catalogue UI'

  /product/buy/{id}
    get:
      operationId: R204
      summary: 'R204: Add Product to Cart'
      description: "Add displayed product to cart."

      tags:
        - 'M02: Products'

      responses:
        '200':
          description: 'Ok. Show Product Page UI'

  # ------------ #
  # M06 - Orders #

  /checkout:
    get:
      operationId: R601
      summary: 'R601: Checkout Form'
      description: 'Provide checkout form. Access: VIS, OWN'
      tags:
        - 'M06: Order'
      responses:
        '200':
          description: 'Ok. Show Checkout UI'

    /checkout/order/:
      post:
        operationId: R602
        summary: 'R602: Checkout Action'
        description: 'Process the checkout form submission. Access: VIS, OWN'
        tags:
          - 'M06: Order'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                products:
                  type: array
                  product:
                    type: object
                    properties:
                      id:
                        type: integer
                      price:
                        type: float
                      quantity:
                        type: integer
              required:
                - products

      responses:
        '302':
          description: 'Redirect after processing checkout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful checkout. Redirect to home.'
                  value: '/'
                302Error:
                  description: 'Failed checkout. Redirect to checkout.'
                  value: '/checkout'

  # ------------ #
  # M07 - Cart   #

  /cart/increase/{id}:
    parameters:
      - in: path
        name: id
        description: Product ID
        schema:
          type: integer
        required: true

    post:
      operationId: 'R701'
      summary: 'R701: Increase Product Amount on Cart'
      description: 'Increases the amount of a product on the cart by one, or adds it to the cart if it is not there already. Access: VIS, CLI'
      tags:
        - 'M07 - Cart'

      requestBody:
        required: true
        content:
          application/json: {}

      responses:
        '200':
          description: 'Ok. Product successfully added'
        '404':
          description: 'Product not found.'

  /cart/decrease/{id}:
    parameters:
      - in: path
        name: id
        description: Product ID
        schema:
          type: integer
        required: true

    post:
      operationId: 'R702'
      summary: 'R702: Decrease Product Amount on Cart'
      description: 'Decreases the amount of a product on the cart by one. Access: VIS, CLI'
      tags:
        - 'M07 - Cart'

      requestBody:
        required: true
        content:
          application/json: {}

      responses:
        '200':
          description: 'Ok. Product amount successfully decreased'
        '404':
          description: 'Product not found in cart.'

  /cart/remove/{id}:
    parameters:
      - in: path
        name: id
        description: Product ID
        schema:
          type: integer
        required: true

    post:
      operationId: 'R703'
      summary: 'R703: Remove Product from Cart'
      description: 'Removes a product from the cart. Access: VIS, CLI'
      tags:
        - 'M07 - Cart'

      requestBody:
        required: true
        content:
          application/json: {}

      responses:
        '200':
          description: 'Ok. Product successfully removed from cart'
        '404':
          description: 'Product not found in cart.'

  # ----------------------------------------- #
  # M09: User Administration and Static pages #

  /admin:
    get:
      operationId: R901
      summary: 'R901: Admin Page'
      description: 'Show admin page. Access: ADM'
      tags:
        - 'M09: User Administration and Static pages'
      responses:
        '200':
          description: 'Ok. Show Admin Page UI'

  /admin/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

    post:
      operationId: R902
      summary: 'R902: Admin Edit User Action'
      description: 'Processes the changes made by an admin to a user. Access: ADM'
      tags:
        - 'M09: User Administration and Static pages'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                is_blocked:
                  type: bool

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to admin page.'
                  value: '/admin'
                302Error:
                  description: 'Failed edit. Redirect to admin page.'
                  value: '/admin'
