openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW EarWorm Web API'
 description: 'Web Resources Specification (A7) for MediaLibrary'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:

tags:
 - name: 'M01: Authentication and Individual Profile'
 - name: 'M02: Products'
 - name: 'M03: Artists'
 - name: 'M04: Reviews'
 - name: 'M05: Wishlist'
 - name: 'M06: Orders'
 - name: 'M07: Cart'
 - name: 'M08: Reports and Tickets'
 - name: 'M09: User Administration and Static pages'

paths:

  # -------------- #
  # M01 - Authentication and Individual Profile #

  /login:
   get:
     operationId: R101
     summary: 'R101: Login Form'
     description: 'Provide login form. Access: VIS'
     tags:
       - 'M01: Authentication and Individual Profile'
     responses:
       '200':
         description: 'Ok. Show Login UI'
   post:
     operationId: R102
     summary: 'R102: Login Action'
     description: 'Process the login form submission. Access: VIS'
     tags:
       - 'M01: Authentication and Individual Profile'

     requestBody:
       required: true
       content:
         application/x-www-form-urlencoded:
           schema:
             type: object
             properties:
               email:          # <!--- form field name
                 type: string
               password:    # <!--- form field name
                 type: string
             required:
                  - email
                  - password

     responses:
       '302':
         description: 'Redirect after processing the login credentials.'
         headers:
           Location:
             schema:
               type: string
             examples:
               302Success:
                 description: 'Successful authentication. Redirect to client profile.'
                 value: '/client/{id}'
               302Error:
                 description: 'Failed authentication. Redirect to login form.'
                 value: '/login'

  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated user. Access: CLI, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to login form.'
                  value: '/login'

  /register:
    get:
      operationId: R104
      summary: 'R104: Register Form'
      description: 'Provide new client registration form. Access: VIS'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Sign-Up UI'

    post:
      operationId: R105
      summary: 'R105: Register Action'
      description: 'Process the new client registration form submission. Access: VIS'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the new client information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to client profile.'
                  value: '/clients/{id}'
                302Failure:
                  description: 'Failed authentication. Redirect to login form.'
                  value: '/login'

  /clients/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true

    get:
      operationId: R106
      summary: 'R106: View client profile'
      description: 'Show the individual client profile. Access: OWN, ADM'
      tags:
        - 'M01: Authentication and Individual Profile'

      responses:
        '200':
          description: 'Ok. Show Client Profile UI'
    
    delete:
      operationId: R107
      summary: 'R107: Delete Individual Account Action'
      description: 'Process the delete individual account action. Access: OWN, ADM'
      tags:
        - 'M01: Authentication and profile'
 
      parameters:
        - in: path
          name: id
          description: User ID
          schema:
            type: integer
          required: true
           
      responses:
        '302':
          description: 'Redirect after processing the account deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful deletion. Redirect to home page.'
                  value: '/home'
                302Error:
                  description: 'Failed deletion. Redirect to client profile page.'
                  value: '/clients/{id}'

  /clients/{id}/edit:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
    
    get:
      operationId: R108
      summary: 'R108: Edit Profile Form'
      description: 'Provide edit profile form. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok. Show Edit Profile UI'

    patch:
      operationId: R109
      summary: 'R109: Edit Profile Action'
      description: 'Process the edit profile form submission. Access: OWN'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                picture:
                  type: string
                  format: binary
                password:
                  type: string

      responses:
        '302':
          description: 'Redirect after processing the new client information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful edit. Redirect to client profile.'
                  value: '/clients/{id}'
                302Failure:
                  description: 'Failed edit. Redirect to client profile.'
                  value: '/clients/{id}'               

  # -------------- #
  # M02 - Products #
 
  /api/products:
    get:
      operationId: R201
      summary: 'R201: Search products API'
      description: 'Search for products and return the results as JSON. Access: VIS, CLI, ADM'

      tags:
        - 'M02: Products'

      parameters:
        - in: query
          name: query
          description: 'String to use for full-text search'
          schema:
            type: string
          required: false

        - in: query
          name: genre
          description: 'Genre of the product'
          schema:
            type: string
          required: false

        - in: query
          name: min_score
          description: 'Minimum score of the product'
          schema:
            type: float
          required: false
          
        - in: query
          name: max_score
          description: 'Maximum score of the product'
          schema:
            type: float
          required: false
        
        
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                products:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    artist_id:
                      type: integer
                    price:
                      type: float
                    stock:
                      type: integer
                    format:
                      type: string
                    genre:
                      type: string
                    year:
                      type: integer
                    description:
                      type: string
                    score:
                      type: float
                example:
                - id: 1
                  name: "GOAA (Greatest Of All Albums)"
                  artist_id: 109
                  price: 12.00
                  stock: 300
                  format: "Vinyl"
                  genre: "Pop"
                  year: "2020"
                  description: "The greatest album ever made!!"
                  score: 1.25
                - id: 2
                  name: "Mixtape no.1"
                  artist_id: 127
                  price: 5.00
                  stock: 20
                  format: "Cassette"
                  genre: "Rap"
                  year: "2021"
                  description: "I was bored and made some music."
                  score: 4.99


  /product/{id}:
    parameters:
      - in: path
        name: id
        description: Product ID
        schema:
          type: integer
        required: true
        
    get:
      operationId: R202
      summary: 'R202: View product page'
      description: "Show a specific product page, where all of its information is displayed. Access: VIS, CLI, ADM"

      tags:
        - 'M02: Products'

      responses:
        '200':
          description: 'Ok. Show Product Page UI'
        '404':
          description: 'This product does not exist in our store.'
        
  # -------------- #
  # M03 - Artists  #

  /artist/{id}:
    parameters:
      - in: path
        name: id
        description: Artist ID
        schema:
          type: integer
        required: true

    get:
      operationId: R301
      summary: 'R301: View artist page'
      description: "Show a specific artist page, where all of its information is displayed. Access: VIS, CLI, ADM"

      tags:
        - 'M02: Products'

      responses:
        '200':
          description: 'Ok. Show Artist Page UI'
        '404':
          description: 'This artist does not exist in our store.'

  # -------------- #
  # M05 - Wishlist  #

  #/wishlist/{id}:
   # parameters:
    #  - in: path
     #   name: id
      #  description: Wishlist ID
       # schema:
        #  type: integer
        #required: true

#    post:
 #     operationId: R501
  #    summary: 'R501: Add product to wishlist'
   #   description: 'Add a product to a wishlist. Access: CLI'
    #  tags:
     #   -  'M05: Wishlist'
      #
      #requestBody:
       # required: true
        #content:
         # application/json:
          #  schema:
           #   type: object
            #  properties:
             #   id:
              #    type: integer 
                  
      #responses:
       # '200':
        #  description: 'Successfully added product to wishlist.' 
        #'404':
         # description: 'Product with the specified ID not found.'

  #/wishlist/{id}/product/{product_id}:
   # parameters:
    #  - in: path
     #   name: id
      #  description: Wishlist ID
       # schema:
        #  type: integer
        #required: true
      #- in: path
       # name: product_id
        #description: Product ID
        #schema:
         # type: integer
        #required: true
  
    #delete:
     # operationId: R502
      #summary: 'R502: Remove product from wishlist'
      #description: "Remove a product from wishlist. Access: CLI"
      #tags:
       # -  'M05: Wishlist'
          
      #responses:
       # '200':
        #  description: 'Successfully removed product from Wishlist.'
        #'404':
         # description: 'Product with the specified ID not found.'
        #'406':
         # description: 'Product not in wishlist.'
  #

  # ------------ #
  # M06 - Orders  #

  /checkout:
    get:
      operationId: R601
      summary: 'R601: Checkout Form'
      description: 'Provide checkout form. Access: VIS, OWN'
      tags:
        - 'M06: Order'
      responses:
        '200':
          description: 'Ok. Show Checkout UI'

    /checkout/order/:
      post:
        operationId: R602
        summary: 'R602: Checkout Action'
        description: 'Process the checkout form submission. Access: VIS, OWN'
        tags:
          - 'M06: Order'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                address:
                  type: object
                  properties:
                    street:
                      type: string
                    zip-code:
                      type: string
                    city:
                      type: string
                    country:
                      type: string
                shipping_method:
                  type: string
                payment_method:
                  type: string
                products:
                  type: array
                  product:
                    type: object
                    properties:
                      id:
                        type: integer
                      price:
                        type: float
                      quantity:
                        type: integer
              required:
                - address
                - shipping_method
                - payment_method
                - products

      responses:
        '302':
          description: 'Redirect after processing checkout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful checkout. Redirect to home.'
                  value: '/home'
                302Failure:
                  description: 'Failed checkout. Redirect to checkout.'
                  value: '/checkout'
